<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\Users\operaza\Documents\Visual Studio 11\Projects\JeffreyPalermoSamples\Published</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="App_Data/Guestbook.sdf">
      <publishTime>07/30/2012 14:18:49</publishTime>
    </File>
    <File Include="bin/amd64/Microsoft.VC90.CRT/Microsoft.VC90.CRT.manifest">
      <publishTime>07/30/2012 10:05:08</publishTime>
    </File>
    <File Include="bin/amd64/Microsoft.VC90.CRT/msvcr90.dll">
      <publishTime>07/30/2012 10:05:09</publishTime>
    </File>
    <File Include="bin/amd64/Microsoft.VC90.CRT/README_ENU.txt">
      <publishTime>07/30/2012 10:05:09</publishTime>
    </File>
    <File Include="bin/amd64/sqlceca40.dll">
      <publishTime>07/30/2012 10:05:09</publishTime>
    </File>
    <File Include="bin/amd64/sqlcecompact40.dll">
      <publishTime>07/30/2012 10:05:09</publishTime>
    </File>
    <File Include="bin/amd64/sqlceer40EN.dll">
      <publishTime>07/30/2012 10:05:09</publishTime>
    </File>
    <File Include="bin/amd64/sqlceme40.dll">
      <publishTime>07/30/2012 10:05:10</publishTime>
    </File>
    <File Include="bin/amd64/sqlceqp40.dll">
      <publishTime>07/30/2012 10:05:10</publishTime>
    </File>
    <File Include="bin/amd64/sqlcese40.dll">
      <publishTime>07/30/2012 10:05:10</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>07/30/2012 10:10:31</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>07/30/2012 10:10:31</publishTime>
    </File>
    <File Include="bin/JeffreyPalermoSamples.dll">
      <publishTime>07/30/2012 14:23:18</publishTime>
    </File>
    <File Include="bin/JeffreyPalermoSamples.pdb">
      <publishTime>07/30/2012 14:23:18</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>07/27/2012 14:37:36</publishTime>
    </File>
    <File Include="bin/System.Data.SqlServerCe.dll">
      <publishTime>07/30/2012 10:05:03</publishTime>
    </File>
    <File Include="bin/System.Data.SqlServerCe.Entity.dll">
      <publishTime>07/30/2012 10:05:05</publishTime>
    </File>
    <File Include="bin/System.Json.dll">
      <publishTime>07/27/2012 14:37:55</publishTime>
    </File>
    <File Include="bin/System.Json.xml">
      <publishTime>07/27/2012 14:37:55</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>07/27/2012 14:37:55</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>07/27/2012 14:37:56</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>07/27/2012 14:37:56</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>07/27/2012 14:37:55</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>07/27/2012 14:37:55</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>07/27/2012 14:37:55</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>07/27/2012 14:37:53</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>07/27/2012 14:37:53</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.dll">
      <publishTime>07/27/2012 14:37:54</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.xml">
      <publishTime>07/27/2012 14:37:54</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>07/27/2012 14:37:56</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>07/27/2012 14:37:57</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>07/27/2012 14:37:57</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>07/27/2012 14:37:56</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>07/27/2012 14:37:55</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>07/27/2012 14:37:55</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>07/27/2012 14:37:58</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>07/27/2012 14:37:57</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>07/27/2012 14:37:52</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>07/27/2012 14:37:52</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>07/27/2012 14:37:53</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>07/27/2012 14:37:53</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>07/27/2012 14:37:53</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>07/27/2012 14:37:53</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>07/27/2012 14:37:53</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>07/27/2012 14:37:53</publishTime>
    </File>
    <File Include="bin/x86/Microsoft.VC90.CRT/Microsoft.VC90.CRT.manifest">
      <publishTime>07/30/2012 10:05:10</publishTime>
    </File>
    <File Include="bin/x86/Microsoft.VC90.CRT/msvcr90.dll">
      <publishTime>07/30/2012 10:05:10</publishTime>
    </File>
    <File Include="bin/x86/Microsoft.VC90.CRT/README_ENU.txt">
      <publishTime>07/30/2012 10:05:10</publishTime>
    </File>
    <File Include="bin/x86/sqlceca40.dll">
      <publishTime>07/30/2012 10:05:11</publishTime>
    </File>
    <File Include="bin/x86/sqlcecompact40.dll">
      <publishTime>07/30/2012 10:05:11</publishTime>
    </File>
    <File Include="bin/x86/sqlceer40EN.dll">
      <publishTime>07/30/2012 10:05:11</publishTime>
    </File>
    <File Include="bin/x86/sqlceme40.dll">
      <publishTime>07/30/2012 10:05:11</publishTime>
    </File>
    <File Include="bin/x86/sqlceqp40.dll">
      <publishTime>07/30/2012 10:05:11</publishTime>
    </File>
    <File Include="bin/x86/sqlcese40.dll">
      <publishTime>07/30/2012 10:05:12</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>07/27/2012 14:37:31</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/accent.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/aspNetHome.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/bullet.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/facebook.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/findHosting.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/heroAccent.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/NuGetGallery.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/orderedListOne.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/orderedListThree.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/orderedListTwo.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/twitter.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Images/windowsLive.png">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>07/30/2012 10:10:32</publishTime>
    </File>
    <File Include="Scripts/AjaxLogin.js">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2-vsdoc.js">
      <publishTime>07/27/2012 14:37:30</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.js">
      <publishTime>07/27/2012 14:37:30</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.min.js">
      <publishTime>07/27/2012 14:37:30</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>07/27/2012 14:37:31</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>07/27/2012 14:37:31</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>07/27/2012 14:37:31</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>07/27/2012 14:37:31</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>07/27/2012 14:37:31</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>07/27/2012 14:37:32</publishTime>
    </File>
    <File Include="Scripts/knockout-2.0.0.debug.js">
      <publishTime>07/27/2012 14:37:58</publishTime>
    </File>
    <File Include="Scripts/knockout-2.0.0.js">
      <publishTime>07/27/2012 14:37:58</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>07/27/2012 14:37:35</publishTime>
    </File>
    <File Include="Scripts/_references.js">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Views/Account/ChangePassword.cshtml">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Views/Account/ChangePasswordSuccess.cshtml">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Views/Account/Login.cshtml">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Views/Account/Register.cshtml">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Views/Guestbook/Create.cshtml">
      <publishTime>07/30/2012 10:14:43</publishTime>
    </File>
    <File Include="Views/Guestbook/Index.cshtml">
      <publishTime>07/30/2012 14:10:10</publishTime>
    </File>
    <File Include="Views/Guestbook/Show.cshtml">
      <publishTime>07/30/2012 14:19:19</publishTime>
    </File>
    <File Include="Views/Home/About.cshtml">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Views/Home/Contact.cshtml">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>07/30/2012 09:48:18</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>07/30/2012 11:48:36</publishTime>
    </File>
    <File Include="Views/Shared/_LoginPartial.cshtml">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>07/27/2012 14:37:14</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/30/2012 14:23:24</publishTime>
    </File>
  </ItemGroup>
</Project>